.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

/* .prortfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
} */

.hero-content h1 {
    padding: 50px;
    margin-top: 100px;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto; 
    grid-gap: 30px; 
    margin-bottom: 100px;
    /* padding: 50px; */
  }
  
  .project-container a {
    display: inline-block;
    /* margin-top: 10px; */
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .project-container a:hover {
    color: white;
  }
  
  .img-card img {
    width: 540px;
    height: 360px;
    /* width: 100%; */
  }

  .img-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    .img-container {
      grid-template-columns: 1fr; 
      grid-template-rows: auto; 
      grid-gap: 10px; 
    }
    .img-card {
      margin: 0px 10px;
    }
    .img-card img {
      width: 300px;
      height: 150px;
    }

  }

  @media screen and (max-width: 820px) {
    .img-card img {
      width: 300px;
      height: 150px;
    }
  }

  @media screen and (max-width: 1040px) {
    .img-card img {
      width: 400px;
      height: 250px;
    }
    
  }

  @media screen and (max-width: 1170px) {
    .img-card img {
      width: 400px;
      height: 250px;
    }
    
  }

  @media screen and (min-width: 680px) and (max-width: 860px) {
    .img-card img {
      width: 300px;
      height: 200px;
    }
    
  }

  @media screen and (min-width: 860px) and (max-width: 1040px) {
    .img-card img {
      width: 400px;
      height: 250px;
    }
    
  }

@media screen and (max-width: 400px) {
  .img-card img {
    flex-direction: row;
    width: 100px;
    height: 100px;  
  }
  
}

@media screen and (max-width: 430px) {
  .img-card img {
    width: 170px;
    height: 100px;  
  }
  
}

@media screen and (max-width: 685px) {
  .img-card img {
    width: 275px;
    height: 200px;  
  }
  
}


  