.footer {
    background-color: white;
    color: black;
    padding: 10px;
    /* margin: 10px; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer a {
    color: black;
}

.footer a:hover {
    color: cadetblue;
}

.footer li {
    list-style-type: none;
    display: inline;
    margin-right: 30px;
}