.aboutMe img{
    /* box-shadow: 0 0 0 2px #fff; */
    border: 3px solid black;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    top: 33%;
    right: 30%; 
    /* position: absolute; */
    object-fit: cover;
    /* flex-wrap: wrap; */
    background-color: white;
    object-fit: cover;
    margin: 0 auto;
  }

  .aboutMe p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 1rem 0;
    padding: 10px;
    text-align: justify;
  }